@font-face {
   font-family: 'Noir';
   src: url('../assets/fonts/NoirStd-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'SharpGrotesk';
   src: url('../assets/fonts/SharpGroteskBold15.ttf') format('truetype');
   font-weight: bold;
}

@font-face {
   font-family: 'SharpGrotesk';
   src: url('../assets/fonts/SharpGroteskBold25.ttf') format('truetype');
   font-weight: bolder;
}